@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    width: 80%;
    margin: 0 auto;
    font-family:Roboto ;
}

header{
    background-color: #39A2DB;
    color: #E8F0F6;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    padding: 20px;
}

main{
    display: flex;
    justify-content: center;
    margin-top: 10%;
    gap:5%;
}

/* from style  */

fieldset{
    border: 1px dashed gray;
    border-radius: 8px;
    width: 450px;
    height: 300px;
}
legend{
    margin-left: 15%;
    color: gray;
    font-size: 13px;
    font-weight: 700;
}
form{
    margin: 20px 30px;
}
label{
    font-weight: 900;
    margin: 5px;
    width: 400px;
   
}
button{
    padding: 7px;
    background-color:#71c7ec ;
    color: white;
    border:none;
    cursor:pointer;

    
    

}


input,select{
    width: 90%;
    margin: 5px;
    padding: 5px;
    
   
}
 

/* table style  */

img{
    width: 50px;
}

table{
    width: 140%;
    display: flex;
    flex-direction: column;
    gap:5px;
  
}

tr {
    background-color: #77ACF1;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
    
    
}

tfoot{
    background-color: turquoise;
    text-align: center;
    background-color: #77ACF1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
td,th{
    padding: 10px;
}

.td1{
    cursor:pointer;
    color: red;
    font-size: 25px;
}

footer{
   background-color: #053742;
   margin-bottom: 0;
   margin-top: 10%;
   text-align: center;
   padding: 10px;
}
.footerP{
    color: #E8F0F6;
}